#limit {
	position:relative;
	overflow:hidden;
	height:auto;
}
.form-horizontal .control-label {
	width:110px;
	float: left;
	padding-top: 5px;
	text-align: left;
}
.form-horizontal .controls {
	margin-left:0px;
}
.eval {
	float:left;
	width:50%;
}
input.btnShowModal{
	margin-left:20%;
}
.boxed {
	border: 2px solid black;
	min-height: 750px;
	height:auto;
	background-color: #660033;
	border-radius: 8px;

}
#elements {
	overflow:auto;
	height: 650px;
}
#elements li {
	height:18px;
	overflow:hidden;
}
.element p {
	font-weight:bold;
}
.removeElement {
	float:right;
}
.draggable { 
	width: 100%;  
	float: left; 
	margin-top: 0.5em; 
	border: 2px solid black; 
	cursor:pointer; 
	background-color:#999999;
}
#droppable {
	padding-left:2%;
	padding-right:2%;
}
li {
	line-height:1.3;
}
li, ul {
   list-style-type: none;
}
li strong {
	font-size:8pt;
}
.web_dialog {
   display: none;
   position: fixed;
   top: 25%;
   left: 40%;
   margin-left: -190px;
   margin-top: -100px;
   background-color: #ffffff;
   border: 2px solid #336699;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
   border-bottom-left-radius: 6px;
   padding: 0px;
   z-index: 102;
   font-family: Verdana;
   font-size: 9pt;
}
#courseSearchHead{
	background-color:rgb(233,233,233);
	height:35px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	text-align:center;
	font-size:14pt;
	padding:0.25em 0.25em 0em;
}
#courseSearchHead span{
	padding-top:0.25em;
}
.courseSearchBtns {
	text-align:center;
}
.web_dialog_title {
   border-bottom: solid 2px #336699;
   background-color: #336699;
   padding: 4px;
   color: White;
   font-weight:bold;
}
.web_dialog_title a {
   color: White;
   text-decoration: none;
}
.align_right {
   text-align: right;
}
.comment {
	width:90%;
}
.ui-draggable {
	border-radius: 8px
}
.fieldcontain {
	border-radius: 6px
}
.btnShowModal {
	margin-left:18px;
}
.elementHeader {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	height: 28px;
	padding: 0.25em;
	background: lightgrey;
}
.top-controls {
	margin-top: 20px;
}
.credits {
	width:45px;
}
.courseSemesters label{
	display:inline;
	margin: 5px;
}
input#rule, input#categoryName {
	width:88%;
}
.courseBlock > div {
	padding-bottom:0.5em;
}
.courseBlockInput{
	margin-top:0.5em;
}
select#eval {
	width:80px;
}
.element {
	width: 100%;  
	float: left; 
	margin-top: 0.5em; 
	border: 2px solid black; 
	cursor:pointer; 
	background-color:lightgrey;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	height: 28px;
	padding: 0.25em;
	border-radius: 8px;
}
.selectedAdd {
	background:#29FF00;
}
.selectedRemove{
	background:red;
}
.degreeBlock { 
	width:98%;
	float: left; 
	margin:0.5em;
	border: 2px solid black; 
	cursor:pointer; 
	background-color:#999999;
	border-radius: 8px;
}
table.courseSearchTable {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 675px;
    height:205px;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout:fixed;
}
table.courseSearchTable tbody#scrolling {
    height: 120px;
    overflow: auto;
    display: block;
}
table.courseSearchTable td,table.courseSearchTable th {
    border: 0 none;
    height: 18px;
}
table.courseSearchTable th {
    background: linear-gradient(#333 0%, #444 100%);
    color: #FFF;
    font-weight: bold;
    height: 40px;
}
table.courseSearchTable td {
/*     background: #FAFAFA; */
    text-align: left;
}


/* First-child blank cells! */
table.courseSearchTable tr#courses td:first-child, tr#courses th#courses:first-child {
    width: 80px;
}
/* Add border-radius to specific cells! */
table.courseSearchTable tr#courses:first-child th#courses:nth-child(1) {
    border-radius: 5px 0 0 0;
}
table.courseSearchTable tr#courses:first-child th#courses:last-child {
    border-radius: 0 5px 0 0;
}
/**************************************** */
table.courseSearchTable{
	height:80px;
    width:100%;
    overflow:auto;
    background-color:white;
}
table.courseSearchTable thead {
    display: table;
    float: left;
    width: 100%;
}
table.courseSearchTable thead th {
    text-align: center;
}
table.courseSearchTable tbody {
    float: left;
    width: 100%;
}
table.courseSearchTable tbody tr {
    display: table;
    width: 100%;
}
table.courseSearchTable tbody{
	cursor:pointer;
}
table.courseSearchTable th,table.courseSearchTable td {
    width: 25%;
}
.selectedCourse {
	background:#29FF00;
}