/* Hide everything unneeded */
header h1, header nav, footer, img, .nav, .um_standard_footer, .um_standard_header, #print {display: none}

/* font sizes */
body {
	font: 12pt Georgia, "Times New Roman", Times, serif;
	line-height: 1.3;
	color: #000;
}

h1 {font-size: 24pt}

h2 {font-size: 14pt; margin-top: 25px}

.credits {
	margin-left: 250px;
}
table td {
	padding-right:0px;
}
.firstCell {
	padding-left:3.0em;
	width:80px;
}
.secondCell {
	width:280px;
}
.thirdCell {
	width:120px;
}
.fourthCell {
	width:180px;
}
.categoryInfo{
	padding-left:1.5em;
}