<div class="">
	<ul class="nav nav-tabs" data-role="listview" data-split-icon="gear" data-filter="true" >
	
<%--		<g:each status="i" var="c" in="${grailsApplication.controllerClasses.sort { it.logicalPropertyName } }">--%>
<%--			<li class="controller${params.controller == c.logicalPropertyName ? " active" : ""}">--%>
<%--				<g:link controller="${c.logicalPropertyName}" action="index">--%>
<%--					<g:message code="${c.logicalPropertyName}.label" default="${c.logicalPropertyName.capitalize()}"/>--%>
<%--				</g:link>--%>
<%--			</li>--%>
<%--		</g:each>--%>
<%--		<li><a class="senderEmail" href="${createLink(uri: '/senderEmail/list')}">SenderEmail</a></li>--%>
		 <li style="float:left;"><img src="${resource(dir: 'images', file: 'DegreeBuilder.png')}"></li>
		 <li style="float:right;">Welcome <sec:username/><g:link controller="logout">sign out</g:link></li>
	</ul>
	<a href="${resource(dir: 'docs', file: 'help.doc')}" target='_blank' title="Click here to download the help document" style="float:right;">
		Help Document <img src="${resource(dir: 'images', file: 'word.ico')}">
	</a>
</div>
